.button {
  display: flex;
  align-items: center;
  border: 2px solid transparent;
  padding: 8px;
  border-radius: 4px;
  transition: var(--transition);

  &:hover {
    opacity: 0.7;
  }
}

.primary {
  background: var(--color-text);
  color: var(--color-background);
}

.red {
  color: var(--color-background);
  background: rgba(red, 0.65);
  border: 2px solid rgba(red, 0.25);
}

.fullWidth {
  width: 100%;
  justify-content: center;
}
