.input {
  width: 100%;
  padding: 11px 12px 10px;
  border: 1px solid var(--color-text);
  border-radius: 6px;
  appearance: none;
  background: none;

  &:focus {
    outline: none;
    border-color: var(--color-accent);
  }

  &::placeholder {
    color: #d2d2d2;
  }
}

.disabled {
  opacity: 0.5;
}

.invalid {
  border-color: red !important;
}

.center {
  text-align: center;
}
