.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  width: 100%;
  background: var(--color-background);
  padding: 40px 20px;
  border-radius: 12px;

  p {
    margin-top: -12px;
    color: red;
  }
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  margin: auto 0;
  padding: 8px 12px;

  &:hover {
    opacity: 0.7;
  }
}

.create {
  padding: 12px 40px;
  background: var(--color-text);
  color: var(--color-background);
  border-radius: 4px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color: #000, $alpha: 0.4);
}

.row {
  display: grid;
  gap: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input {
  display: flex;
  padding: 8px 4px;
}
