.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 8px;
  border-radius: 4px;
  border: 2px solid #213547;
  transition: var(--transition);

  &:hover {
    border-color: var(--color-accent);
    background: rgba($color: #fff, $alpha: 0.05);
  }
}

.info {
  opacity: 0.7;
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
